*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    margin: 0 auto;
}
.owl_icon{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
}
.post_icon{
    width: 30px;
    margin-left: 1300px;
    vertical-align: middle;
}
.heart_icon{
    width: 30px;
    vertical-align: middle;
    margin-left: 15px;
}
.account_icon{
    width: 30px;
    vertical-align: middle;
    margin-left: 15px;
}
li{
    display: inline-block;
}
.search_input{
    width: 1250px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 50px;
    margin-top: 50px;
    margin-left: 110px;
}
.Search_icon{
    width: 70px;
}
.bussinessman_picture{
    width: 280px;
    height: 230px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 10px;
}
h2{
    font-size: 17px;
    margin-left: 20px;
    display: inline-block;
}
.paragrap_style{
    margin-left: 20px;
    display: inline-block;
}
.arrows{
    vertical-align: middle;
}
button{
    border-radius: 10px;
    width: 180px;
    height: 30px;
    background-color:#087DBF;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 17px;
    color:white ;
    vertical-align: middle;
    border-color: #087DBF;
}
.bussinessman_info{
    width: 305px;
	height: 430px;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px 1px 1px 1px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
}
.per{
    display: inline-block;
    margin-left: 70px;
}
.star{
    display: inline-block;
    margin-left: 90px;
}