*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: 200px;
    margin: 0 auto;
}
.owl_icon{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
}
.post_icon{
    width: 30px;
    margin-left: 1300px;
    vertical-align: middle;
}
.heart_icon{
    width: 30px;
    vertical-align: middle;
    margin-left: 15px;
}
.account_icon{
    width: 30px;
    vertical-align: middle;
    margin-left: 15px;
}
li{
    display: inline-block;
}
.search_input{
    width: 1250px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 110px;
}
.Search_icon{
    width: 70px;
}
.bussinessman_picture{
    width: 280px;
    height: 230px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 10px;
}
h2{
    font-size: 17px;
    margin-left: 10px;
}
.paragrap_style{
    margin-left: 10px;
}
button{
    border-radius: 10px;
    width: 180px;
    background-color:#087DBF;
    margin-left: 60px;
    margin-top: 30px;
    
}
.bussinessman_info{
    width: 305px;
	height: 400px;
	box-shadow: 0 29px 48px rgba(1,16,62,0.12);
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
}